.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 99px;
    width: 100%;
    box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0px;
    background: #403C3B;
    z-index: 4;
}



.logoName {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.deliveryAddressLocation {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 37px;
    cursor: not-allowed;
}

.deliveryAddress {
    width: 555px;
    height: 52px;
    border-radius: 10px;
    padding-left: 45px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    background: rgba(80, 75, 74, 1);
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    border: black;
    color: white;
}

.unknown {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.street span {
    color: white;
}

.streets {
    position: fixed;
    top: 73px;
    left: 360px;
    background: rgba(80, 75, 74, 1);
    width: 602px;
    max-height: 752px;
    min-height: 52px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    z-index: 3;
    overflow-y: scroll;
    height: 200px;
    
}

.street {
    background: rgba(80, 75, 74, 1);
    height: 52px;
    color: white;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.7;
    padding-left: 50px;
    padding-top: 20px;
    z-index: 3;
}

.street:hover {
    color: white;
    opacity: 1;
}

.streets:last-child {
    padding-bottom: 20px;
}

.search {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    right: 45px;
    cursor: not-allowed;
}

.contacts {
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.contactsNumber span {
    color: rgba(207, 207, 207, 1);
    font-size: 14.5px;
    opacity: 0.6;
}
.contactsNumber b {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    cursor: pointer;
}

.contactsImage {
    background: rgba(97, 137, 103, 1);
    border-radius: 20px;
    width: 33px;
    height: 26px;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}

.contactsImage img {
    width: 17px;
    height: 19px;
}


.cart {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    width: 149px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.cart:hover {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
    width: 149px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.cart b {
    border: none;
    border-right: 1px solid white;
    color: white;
    padding: 0px 15px;
    font-size: 16px;
}

.cartMedia {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    width: 56px;
    height: 51px;
    padding: 5px 7px;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}

.menu {
    display: none;
}

.cartMediaImg {
    width: 24px;
}

.cart span {
    background-color: white;
    border-radius: 50px;
    padding: 3px 8px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 550;
}

.cartCounter {
    color: black;
}

.auth {
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 1px solid #635C5A;
    height: 45px;
}

.authImg {
    width: 24px;
    margin-right: 10px;
    padding-left: 20px;
}

/* Media */

@media (max-width: 1273px) {
    .deliveryAddress {
        width: 400px;
    }
}
@media (max-width: 1190px) {
    .auth {
        display: none;
    }
}
@media (max-width: 969px) {
    .deliveryAddress {
        width: 300px;
    }

}
@media (max-width: 869px) {
    .deliveryAddress {
        width: 240px;
    }
    .cart {
    }
    .logoName {
        font-size: 22px;
    }
}
@media (max-width: 840px) {
    .deliveryAddress {
        width: 240px;
    }
    .contactsNumber {
        margin-right: 15px;
    }
    .contactsNumber b {
        font-size: 15px;
    }
    .logoName {
        font-size: 22px;
    }
}
@media (max-width: 805px) {
    .deliveryAddress {
        width: 200px;
        font-size: 15px;
    }
    .search {
        display: none;
    }
}
@media (max-width: 745px) {
    .contacts {
        display: none;
    }
    .header {
        justify-content: space-between;
    }
    .logoName {
        margin-left: 20px;
    }
}
@media (max-width: 576px) {
    .header {
        display: flex;
        height: 112px;
        width: 618px;
        justify-content: space-around;
        align-items: center;
    }

    .deliveryAddress {
        width: 165px;
        height: 52px;
        margin: 15px 30px 15px 0px;
    }
    .contacts {
        display: none;
    }

}


@media (max-width: 375px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        height: 142px;
        width: 375px;
    }
    .cartMedia {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartMedia span {
        margin-top: 5px;
    }
    
    .menu {
        display: block;
    }

    .deliveryAddress {
        width: 235px;
        height: 52px;
        margin-right: 10px;
        margin: 10px 0px 15px 0px;
    }
    .contacts {
        display: none;
    }
    .cart {
        display: none;
    }
}

/* Media */